/*body {
	background-image: url("Anthems-cover.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}*/

.header {
	background-color: black;
	width: 100%;
	height: 75px;
	display: inline-flex;
}


li {
	display: inline-block;
	border: 1px solid white;
	text-align: center;
	width: 100px;
	height: 30px;
	padding: 10px 0px 0px 0px;
	margin: 5px 5px 0px 85px;
}

a {
	color: white;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: red;
}

.logo {
	border: 1px solid white;
	width: 100px;
	height: 55px;
	padding: 5px;
	margin: 5px 0px 0px 5px;
}

h1 {
	text-align: center;
	font-size: 60px;
}

h2 {
	text-align: center;
	font-size: 36px;
}

#description {
	width: 960px;
	margin: 5px auto 15px auto;
	padding: 5px;
	text-align: left;
}

.blurbParagraph {
	font-size: 18px;
	text-indent: 40px;
}

#welcome {
	font-size: 18px;
}

#skeletons {
	height:430px;
	width: 710px;
	margin: 25px auto;
}

#anthems {
	height: 425px;
	width: 700px;
	text-align: center;
	/*border: 2px solid black;
	box-shadow: 5px 5px 5px #777;*/
}

.formWrapper {
	display: block;
	width: 400px;
	margin: 25px auto;
	padding: 5px;
	text-align: center;
}

.purchase {
	display: block;
	width: 400px;
	margin: 5px auto 100px auto;
	padding: 5px;
	text-align: center;
}

.blurb {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	width: 100%;
	margin: 100px 0px 0px 0px;
}


.footer {
	text-align: center;
}

#signUp {
	font-size: 30;
	text-align: center;
	width: 45%;
	margin: 100px 20px 0px 60px;
	display: inline-table;

}

.formWrapper {
	width: 40%;
	padding: 25px 0px;
	margin: 100px 30px 0px 30px;
	vertical-align: middle;
	text-align: center;
	display: inline-table;
	border: 1px solid black;
	border-radius: 10px;
}

.emailSubmit {
	text-align: center;
}

#hr {
	width: 100%;
	margin: 100px 0px 100px 0px;
}


.thumb {
	display: inline-block;
	margin: 50px 50px 100px 200px;
	width: 150px;
	text-align: center;
}

#a {
	border: 1px solid black;
	box-shadow: 2px 2px 2px #777;
	padding: 5px;

}

#v {
	border: 1px solid black;
	box-shadow: 2px 2px 2px #777;
	padding: 5px;
}

.btn {
	cursor: pointer;
	width: 150px;
	height: 30px;
	border: 3px solid black;
	border-radius: 20px;
}

.inputBtn {
	width: 100px;
	margin: 7px auto;
}

.inputLabel {
	padding: 10px;
}

#enter {
	display: block;
}

#response {
	display: none;
	color: blue;
}

#fail {
	display: none;
	color: red;
}

#blurbHeader {
	text-decoration: underline;
}

#formSub {
	margin: 0px -50px !important;
}

#buy {
	font-size: 18px;
	color: red;
	text-shadow: 1px 1px 0px #000;
}

.x {
	width: 200px;
	margin: 25px auto;
}


/*	The Modal Background */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgb(0,0,0,0.4);
}


/*	Modal Content Box */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}


/*	The close button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}


.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/*	Modal Header */
.modal-header {
	padding: 2px 16px;
	background-color: /*#5cb85c*/#000;
	color: white;
}


/*	Modal Body */
.modal-body {
	padding: 2px 16px;
}


/*	Modal Footer */
.modal-footer {
	padding: 2px 16px;
	background-color: /*#5cb85c*/#000;
	color: white;
	text-align: center;
}


/*	Add Animation */
@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

/*	Sample Paragraphs */
.format {
	text-indent: 40px;
	font-family: times new roman, arial, helvetica, sans-serif;
	line-height: 1.5;
}

#continue {
	width: 250px;
	margin: 5px auto;
}

/*	css for contact template */

#send-email {
	text-align: center;
	font-size: 18px;
	width: 100%;
	margin-top: 50px;
	height: 200px;
}

.gmail {
	color: blue;
}

.gmail:hover {
	color: red;
}

/*	css for Books template */

.title {
	text-align: left;
	text-decoration: underline;
	width: 100%;
	margin: 100px 0px 30px 5px;
}

.disp {
	width: 100%;
	margin: 20px 0px 50px 5px;
	font-size: 18px;
}