<h1>Tombstone Kane</h1>
<h2>A Wonderful Wizard Of Words</h2>

<p class="disp">Tombstone Kane is a distinct voice in the literary landscape and an astute student of the titans of the past; most notably Dostoyevky, Hamsun, Joyce, Faulkner, Gaddis, Gass, and Pynchon, to name a few.</p>

<p class="disp">Tired of reading books that were little more than a copy of a copy of a copy, he set out to do something about it and write novels that clearly go beyond simple story telling and show a tremendous appreciation for the art of writing and fulfillment of a profound longing for originality and uniqueness. That's why there is nothing like a Tombstone Kane!

