<h1>Tombstone Kane's Books</h1>


<h2 class="title">Anthems Of The Blood And The Marrow</h2>
<img src="public/Anthems-cover.jpg" alt="Anthems cover" width="200" height="200"/>
<p class="disp">Anthems Of The Blood And The Marrow, Published in 2018, is now available on Amazon Kindle or in paperback format. Note: The purchase of a paperback book includes a free version of the novel on Kindle.</p>



<h2 class="title">Villains Among Us</h2>
<img src="public/Villain-skeleton-cover.jpg" alt="villains book cover" width="200" height="200"/>
<p class="disp">Villains Among Us is a collection of 9 short stories in true Tombstone Kane style. Publication is upcoming. Be sure to "Join The Tombstone" on the <a class="gmail" href="/">Home</a> page.</p>
