

<!--<h3 id="get">A novel to forever alter your perception of the world</h3>-->
<!--<h2>The Barbed Wire Bard</h2>-->


<div id="skeletons">
<img id="anthems" src="public/Anthems-cover.jpg" alt="book cover with dancing skeletons"/>
</div>


<div id="description">
	<h2 id="blurbHeader">Expose Your Skeletons!</h2>
	<p id="blurbParagraph">You are a profound, intelligent, puzzle-seeking, mainstream-shunning, student of the human condition interested in exploring the consequences of consciousness in chaos? Well, then . . . Welcome, friend. Now let's see what lies beyond the flesh.</p> 
</div>

<div class="purchase">
	<!-- <p id="action">Anthems Of The Blood And The Marrow</p> -->
	<button class="btn" type="submit" name="buy">Buy Now</button>
	<button class="btn" type="submit" name="try">Read A Sample</button>
</div>

<hr/>



<div id="signUp">
	<p id="copy">Be The First To Know About Tombstone Kane News And Releases. Come, You Know You Won't Be Able To Stop Thinking About It.</p>
</div>



<div class="formWrapper">
	<form id="emailSubmit">
		<div class="formError"></div>
		<div class="inputWrapper">
			<div class="inputLabel">Enter your email to chose a free short story</div>
			<input id="in" type="text" name="email" placeholder="Debbie@example.com"/>
		</div>
		<div class="inputBtn">
			<button class="btn" id="formSub" type="submit">Free Story</button>
		</div>
	</form>
</div>

<p id="main"></p>


<hr id="hr"/>

<div class="blurb">
	<p>There's nothing like a Tombstone Kane!</p>
</div>


<div class="thumb">
	<a href="/">
<img id="a" src="public/Anthems-cover.jpg" alt="book cover with dancing skeletons" width="100" height="100"/></a>
<header>Anthems Of The Blood And The Marrow</header>
<button class="btn" type="submit" name="anthems">Learn More</button>
</div>



<div class="thumb">
	<a href="/">
<img id="v" src="public/Villain-skeleton-cover.jpg" alt="villains book cover" width="100" height="100"/></a>
<header>Villains Among Us<br/>Shorts To Die For</header>
<button class="btn" type="submit" name="villains">Learn More</button>
</div>
